body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
header, footer {
    width: 100vw;
    height: 20vh;
}
main, aside {
    height: 60vh;
}
section {
    width: 100%;
    height: 100%;
    display: flex;
}
.brasileirao {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topo {
    background-color: rgb(60, 1, 155);
    text-align: center;
    margin: 0;
    font-size: 500%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.venda{
    display: flex;
    justify-content: space-evenly
}
/*.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20%;
    margin: 0 10%;
}*/
.imagen {
    display: flex;
    width: 95%;
    height: 35%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    margin: 0;
}
.valorescamisas {
    
}