body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header, footer {
    width: 100vw;
    height: 20vh;
}
main, aside {
    height: 60vh;
}
aside img {
    display: flex;
    width: 50%;
    height: 100%;
}
nav {
font-size: 25px;
justify-content: space-evenly;
}
.topo {
    background-color: rgb(60, 1, 155);
    text-align: center;
    margin: 0;
    font-size: 500%;
}

.container img {
    max-width: 200px;
    max-height:250px;
}
.container{
    clear: both;
    margin-top: 20px;
}
img {
    vertical-align: top
}
.camisas:hover {
    scale: 1.05;
}
.ligas {
    display: flex;
    justify-content: space-evenly;
    
}
article img {
    width: 100%;
    height: 250px;
    display: flex;
    align-content: flex-end;
}
footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    max-width: 1400px;
    padding: 16px 0 24px;
    width: calc(100% - 64px);
}