body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
header, footer {
    width: 100vw;
    height: 20vh;
}
main, aside {
    height: 60vh;
}
aside img {
    display: flex;
    width: 50%;
    height: 100%;
}
nav {
font-size: 25px;
justify-content: space-evenly;
}
.topo {
    background-color: rgb(60, 1, 155);
    text-align: center;
    margin: 0;
    font-size: 500%;
}
img {
    vertical-align: top;
    mix-blend-mode: darken;
}
.camisas:hover {
    scale: 1.05;
}
.ligas {
    display: flex;
    justify-content: space-evenly;
    
}
article img {
    width: 100%;
    height: 250px;
    display: flex;
    align-content: flex-end;
}
footer {
    font-size: 200%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 16px 0 24px;
    width: 100%;
    background-color: rgb(65, 32, 253);
}
footer a {
    color: black;
    align-content: center;
}
footer h4{
    padding-top: 20px;
}
.logosite {
    display: flex;
    width: 49%;
    display: inline-block;
}
.contatos:hover {
    scale: 1.10;
}
button {
    font-size: 100%;
    padding-inline: 3%;
    width: 20%;
}
.container img {
    max-width: 200px;
    max-height:250px;
}
.container{
    clear: both;
    margin-top: 20px;
}